/train-Conv2d/build/*
!/train-Conv2d/build/.gitignore
/train-Conv2d/weights/
/train-Conv2d/.idea/
/train-Conv2d/cmake-build-debug/
/data/*
!data/DVSsim_checkerboard/
/train-Conv2d/obj/*
!/train-Conv2d/obj/.gitignore
*.trace
*.a
*.o
*.ppm
.project
*.xml
*.iml
