/train-Conv2d/build/*
!/train-Conv2d/build/.gitignore
/train-Conv2d/weights/
/train-Conv2d/.idea/
/data/*
!data/DVSsim_dataset/
/train-Conv2d/obj/*
!/train-Conv2d/obj/.gitignore
*.trace
*.a
*.o
*.ppm
.project
